/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}


.header-page {
    width: 100%;
    height: 80px;
    display: flex;

    /* vertical */
    align-items: center;

    /* horizontal */
    justify-content: space-between;

    padding: 0 15px;

    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    
}

.header-title {
    font-size: 40px;
    color: #fff;
}

.logo { color: #dc143c;}

.header-menu ul {
    list-style: none;
    display: flex;
}

.header-menu li {
    margin: 0 15px;
}

.header-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;    
    transition: .5s;
}

.header-menu a:hover {
    color: #dc143c;
}


.container {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

/************** formatação hero ****************/
.hero {
    color: #fff;
 
}

.hero-title {
    margin: 30px 0;
}

.hero-text {
    width: 70%;
    text-align: center;
    margin: 30px 0;
}

.btn {
    color: #fff;
    text-decoration: none;
    border: 3px solid #dc143c;
    background-color: #dc143c;
    padding: 6px 25px;
    border-radius: 70px;
    font-weight: 800;
    transition: .5s;
}

.btn:hover { 
    background-color: transparent;
    color: #dc143c;
}
/************* fim formatação hero *************/

/************* formatação tech *************/
.tech {
    color: #fff;
    flex-direction: row;
    justify-content: space-evenly;
}

.box-tech {
    width: 30%;
    height: 500px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon {
    font-size: 50px;
    color: #dc143c;
    border: 1px solid #dc143c;
    padding: 20px;
    border-radius: 50%;
    transition: .5s;
    
}

.icon:hover {
    transform: rotate(360deg);
}

/************* fim formatação tech *************/





/**************** classes mais específicas ****************************/
.bg-image-1 {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)),
    url(../images/image1.jpg);  
}

.bg-image-2 {
    background-image: url(../images/image2.jpg);
}

.bg-image-3 {
    background-image: url(../images/image3.jpg);
}

.bg-color-1 {
    background-color: #000;
}










